@use 'src/styles/vars';
@use "sass:math";

.form-player {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: vars.$gutter;

  &-button {
    font-size: 1em;
    background-color: vars.$colorOne;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    height: 2.5em;
    margin-left: vars.$gutter;

    @media (max-width: vars.$small) {
      margin-top: vars.$gutter;
      margin-left: 0;
    }
  }

  @media (max-width: vars.$small) {
    flex-direction: column;
  }
}

.gamerList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-title {
    font-size: vars.$gutter *1.2;
    padding: math.div(vars.$gutter, 2);
  }

  &-list {

    &-item {
      padding: math.div(vars.$gutter, 4);
    }
  }

  &-button {
    font-size: 1em;
    background-color: vars.$colorOne;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    height: 2.5em;
    margin: math.div(vars.$gutter, 2);
  }
}

h2.gamerList-title{
  font-size: vars.$gutter;
  border-top: 1.5px solid vars.$colorFour;
  margin-top: vars.$gutter;
  width: 80%;
  text-align: center
}

